<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CountryFlag</key>
	<dict>
		<key>01192</key>
		<array>
			<string>+92</string>
			<string>92</string>
			<string>0092</string>
			<string>01192</string>
		</array>
		<key>01144</key>
		<array>
			<string>+44</string>
			<string>44</string>
			<string>0044</string>
			<string>01144</string>
		</array>
		<key>01191</key>
		<array>
			<string>+91</string>
			<string>91</string>
			<string>0091</string>
			<string>01191</string>
		</array>
		<key>01120</key>
		<array>
			<string>+20</string>
			<string>20</string>
			<string>0020</string>
			<string>01120</string>
		</array>
		<key>011212</key>
		<array>
			<string>+212</string>
			<string>212</string>
			<string>00212</string>
			<string>011212</string>
		</array>
		<key>011213</key>
		<array>
			<string>+213</string>
			<string>213</string>
			<string>00213</string>
			<string>011213</string>
		</array>
		<key>011216</key>
		<array>
			<string>+216</string>
			<string>216</string>
			<string>00216</string>
			<string>011216</string>
		</array>
		<key>011218</key>
		<array>
			<string>+218</string>
			<string>218</string>
			<string>00218</string>
			<string>011218</string>
		</array>
		<key>011220</key>
		<array>
			<string>+220</string>
			<string>220</string>
			<string>00220</string>
			<string>011220</string>
		</array>
		<key>011221</key>
		<array>
			<string>+221</string>
			<string>221</string>
			<string>00221</string>
			<string>011221</string>
		</array>
		<key>011222</key>
		<array>
			<string>+222</string>
			<string>222</string>
			<string>00222</string>
			<string>011222</string>
		</array>
		<key>011223</key>
		<array>
			<string>+223</string>
			<string>223</string>
			<string>00223</string>
			<string>011223</string>
		</array>
		<key>011224</key>
		<array>
			<string>+224</string>
			<string>224</string>
			<string>00224</string>
			<string>011224</string>
		</array>
		<key>011225</key>
		<array>
			<string>+225</string>
			<string>225</string>
			<string>00225</string>
			<string>011225</string>
		</array>
		<key>011226</key>
		<array>
			<string>+226</string>
			<string>226</string>
			<string>00226</string>
			<string>011226</string>
		</array>
		<key>011227</key>
		<array>
			<string>+227</string>
			<string>227</string>
			<string>00227</string>
			<string>011227</string>
		</array>
		<key>011228</key>
		<array>
			<string>+228</string>
			<string>228</string>
			<string>00228</string>
			<string>011228</string>
		</array>
		<key>011229</key>
		<array>
			<string>+229</string>
			<string>229</string>
			<string>00229</string>
			<string>011229</string>
		</array>
		<key>011230</key>
		<array>
			<string>+230</string>
			<string>230</string>
			<string>00230</string>
			<string>011230</string>
		</array>
		<key>011231</key>
		<array>
			<string>+231</string>
			<string>231</string>
			<string>00231</string>
			<string>011231</string>
		</array>
		<key>011232</key>
		<array>
			<string>+232</string>
			<string>232</string>
			<string>00232</string>
			<string>011232</string>
		</array>
		<key>011233</key>
		<array>
			<string>+233</string>
			<string>233</string>
			<string>00233</string>
			<string>011233</string>
		</array>
		<key>011234</key>
		<array>
			<string>+234</string>
			<string>234</string>
			<string>00234</string>
			<string>011234</string>
		</array>
		<key>011235</key>
		<array>
			<string>+235</string>
			<string>235</string>
			<string>00235</string>
			<string>011235</string>
		</array>
		<key>011236</key>
		<array>
			<string>+236</string>
			<string>236</string>
			<string>00236</string>
			<string>011236</string>
		</array>
		<key>011237</key>
		<array>
			<string>+237</string>
			<string>237</string>
			<string>00237</string>
			<string>011237</string>
		</array>
		<key>011238</key>
		<array>
			<string>+238</string>
			<string>238</string>
			<string>00238</string>
			<string>011238</string>
		</array>
		<key>011239</key>
		<array>
			<string>+239</string>
			<string>239</string>
			<string>00239</string>
			<string>011239</string>
		</array>
		<key>011240</key>
		<array>
			<string>+240</string>
			<string>240</string>
			<string>00240</string>
			<string>011240</string>
		</array>
		<key>011241</key>
		<array>
			<string>+241</string>
			<string>241</string>
			<string>00241</string>
			<string>011241</string>
		</array>
		<key>011242</key>
		<array>
			<string>+242</string>
			<string>242</string>
			<string>00242</string>
			<string>011242</string>
		</array>
		<key>011243</key>
		<array>
			<string>+243</string>
			<string>243</string>
			<string>00243</string>
			<string>011243</string>
		</array>
		<key>011244</key>
		<array>
			<string>+244</string>
			<string>244</string>
			<string>00244</string>
			<string>011244</string>
		</array>
		<key>011245</key>
		<array>
			<string>+245</string>
			<string>245</string>
			<string>00245</string>
			<string>011245</string>
		</array>
		<key>011246</key>
		<array>
			<string>+246</string>
			<string>246</string>
			<string>00246</string>
			<string>011246</string>
		</array>
		<key>011247</key>
		<array>
			<string>+247</string>
			<string>247</string>
			<string>00247</string>
			<string>011247</string>
		</array>
		<key>011248</key>
		<array>
			<string>+248</string>
			<string>248</string>
			<string>00248</string>
			<string>011248</string>
		</array>
		<key>011249</key>
		<array>
			<string>+249</string>
			<string>249</string>
			<string>00249</string>
			<string>011249</string>
		</array>
		<key>011250</key>
		<array>
			<string>+250</string>
			<string>250</string>
			<string>00250</string>
			<string>011250</string>
		</array>
		<key>011251</key>
		<array>
			<string>+251</string>
			<string>251</string>
			<string>00251</string>
			<string>011251</string>
		</array>
		<key>011252</key>
		<array>
			<string>+252</string>
			<string>252</string>
			<string>00252</string>
			<string>011252</string>
		</array>
		<key>011253</key>
		<array>
			<string>+253</string>
			<string>253</string>
			<string>00253</string>
			<string>011253</string>
		</array>
		<key>011254</key>
		<array>
			<string>+254</string>
			<string>254</string>
			<string>00254</string>
			<string>011254</string>
		</array>
		<key>011255</key>
		<array>
			<string>+255</string>
			<string>255</string>
			<string>00255</string>
			<string>011255</string>
		</array>
		<key>011256</key>
		<array>
			<string>+256</string>
			<string>256</string>
			<string>00256</string>
			<string>011256</string>
		</array>
		<key>011257</key>
		<array>
			<string>+257</string>
			<string>257</string>
			<string>00257</string>
			<string>011257</string>
		</array>
		<key>011258</key>
		<array>
			<string>+258</string>
			<string>258</string>
			<string>00258</string>
			<string>011258</string>
		</array>
		<key>011260</key>
		<array>
			<string>+260</string>
			<string>260</string>
			<string>00260</string>
			<string>011260</string>
		</array>
		<key>011261</key>
		<array>
			<string>+261</string>
			<string>261</string>
			<string>00261</string>
			<string>011261</string>
		</array>
		<key>011262</key>
		<array>
			<string>+262</string>
			<string>262</string>
			<string>00262</string>
			<string>011262</string>
		</array>
		<key>011263</key>
		<array>
			<string>+263</string>
			<string>263</string>
			<string>00263</string>
			<string>011263</string>
		</array>
		<key>011264</key>
		<array>
			<string>+264</string>
			<string>264</string>
			<string>00264</string>
			<string>011264</string>
		</array>
		<key>011265</key>
		<array>
			<string>+265</string>
			<string>265</string>
			<string>00265</string>
			<string>011265</string>
		</array>
		<key>011266</key>
		<array>
			<string>+266</string>
			<string>266</string>
			<string>00266</string>
			<string>011266</string>
		</array>
		<key>011267</key>
		<array>
			<string>+268</string>
			<string>268</string>
			<string>00268</string>
			<string>011268</string>
		</array>
		<key>011268</key>
		<array>
			<string>+268</string>
			<string>268</string>
			<string>00268</string>
			<string>011268</string>
		</array>
		<key>011269</key>
		<array>
			<string>+269</string>
			<string>269</string>
			<string>00269</string>
			<string>011269</string>
		</array>
		<key>01127</key>
		<array>
			<string>+27</string>
			<string>27</string>
			<string>0027</string>
			<string>01127</string>
		</array>
		<key>011290</key>
		<array>
			<string>+290</string>
			<string>290</string>
			<string>00290</string>
			<string>011290</string>
		</array>
		<key>011291</key>
		<array>
			<string>+291</string>
			<string>291</string>
			<string>00291</string>
			<string>011291</string>
		</array>
		<key>011297</key>
		<array>
			<string>+297</string>
			<string>297</string>
			<string>00297</string>
			<string>011297</string>
		</array>
		<key>011298</key>
		<array>
			<string>+298</string>
			<string>298</string>
			<string>00298</string>
			<string>011298</string>
		</array>
		<key>011299</key>
		<array>
			<string>+299</string>
			<string>299</string>
			<string>00299</string>
			<string>011299</string>
		</array>
		<key>01130</key>
		<array>
			<string>+30</string>
			<string>30</string>
			<string>0030</string>
			<string>01130</string>
		</array>
		<key>01131</key>
		<array>
			<string>+31</string>
			<string>31</string>
			<string>0031</string>
			<string>01131</string>
		</array>
		<key>01132</key>
		<array>
			<string>+32</string>
			<string>32</string>
			<string>0032</string>
			<string>01132</string>
		</array>
		<key>01133</key>
		<array>
			<string>+33</string>
			<string>33</string>
			<string>0033</string>
			<string>01133</string>
		</array>
		<key>01134</key>
		<array>
			<string>+34</string>
			<string>34</string>
			<string>0034</string>
			<string>01134</string>
		</array>
		<key>011350</key>
		<array>
			<string>+350</string>
			<string>350</string>
			<string>00350</string>
			<string>011350</string>
		</array>
		<key>011351</key>
		<array>
			<string>+351</string>
			<string>351</string>
			<string>00351</string>
			<string>011351</string>
		</array>
		<key>011352</key>
		<array>
			<string>+352</string>
			<string>352</string>
			<string>00352</string>
			<string>011352</string>
		</array>
		<key>011353</key>
		<array>
			<string>+353</string>
			<string>353</string>
			<string>00353</string>
			<string>011353</string>
		</array>
		<key>011354</key>
		<array>
			<string>+354</string>
			<string>354</string>
			<string>00354</string>
			<string>011354</string>
		</array>
		<key>011355</key>
		<array>
			<string>+355</string>
			<string>355</string>
			<string>00355</string>
			<string>011355</string>
		</array>
		<key>011356</key>
		<array>
			<string>+356</string>
			<string>356</string>
			<string>00356</string>
			<string>011356</string>
		</array>
		<key>011357</key>
		<array>
			<string>+357</string>
			<string>357</string>
			<string>00357</string>
			<string>011357</string>
		</array>
		<key>011358</key>
		<array>
			<string>+358</string>
			<string>358</string>
			<string>00358</string>
			<string>011358</string>
		</array>
		<key>011359</key>
		<array>
			<string>+359</string>
			<string>359</string>
			<string>00359</string>
			<string>011359</string>
		</array>
		<key>01136</key>
		<array>
			<string>+36</string>
			<string>36</string>
			<string>0036</string>
			<string>01136</string>
		</array>
		<key>011370</key>
		<array>
			<string>+370</string>
			<string>370</string>
			<string>00370</string>
			<string>011370</string>
		</array>
		<key>011371</key>
		<array>
			<string>+371</string>
			<string>371</string>
			<string>00371</string>
			<string>011371</string>
		</array>
		<key>011372</key>
		<array>
			<string>+372</string>
			<string>372</string>
			<string>00372</string>
			<string>011372</string>
		</array>
		<key>011373</key>
		<array>
			<string>+373</string>
			<string>373</string>
			<string>00373</string>
			<string>011373</string>
		</array>
		<key>011374</key>
		<array>
			<string>+374</string>
			<string>374</string>
			<string>00374</string>
			<string>011374</string>
		</array>
		<key>011375</key>
		<array>
			<string>+375</string>
			<string>375</string>
			<string>00375</string>
			<string>011375</string>
		</array>
		<key>011376</key>
		<array>
			<string>+376</string>
			<string>376</string>
			<string>00376</string>
			<string>011376</string>
		</array>
		<key>011377</key>
		<array>
			<string>+377</string>
			<string>377</string>
			<string>00377</string>
			<string>011377</string>
		</array>
		<key>011378</key>
		<array>
			<string>+378</string>
			<string>378</string>
			<string>00378</string>
			<string>011378</string>
		</array>
		<key>011380</key>
		<array>
			<string>+380</string>
			<string>380</string>
			<string>00380</string>
			<string>011380</string>
		</array>
		<key>011381</key>
		<array>
			<string>+381</string>
			<string>381</string>
			<string>00381</string>
			<string>011381</string>
		</array>
		<key>011382</key>
		<array>
			<string>+382</string>
			<string>382</string>
			<string>00382</string>
			<string>011382</string>
		</array>
		<key>011385</key>
		<array>
			<string>+385</string>
			<string>385</string>
			<string>00385</string>
			<string>011385</string>
		</array>
		<key>011386</key>
		<array>
			<string>+386</string>
			<string>386</string>
			<string>00386</string>
			<string>011386</string>
		</array>
		<key>011387</key>
		<array>
			<string>+387</string>
			<string>387</string>
			<string>00387</string>
			<string>011387</string>
		</array>
		<key>011389</key>
		<array>
			<string>+389</string>
			<string>389</string>
			<string>00389</string>
			<string>011389</string>
		</array>
		<key>01139</key>
		<array>
			<string>+39</string>
			<string>39</string>
			<string>0039</string>
			<string>01139</string>
		</array>
		<key>01140</key>
		<array>
			<string>+40</string>
			<string>40</string>
			<string>0040</string>
			<string>01140</string>
		</array>
		<key>01141</key>
		<array>
			<string>+41</string>
			<string>41</string>
			<string>0041</string>
			<string>01141</string>
		</array>
		<key>011420</key>
		<array>
			<string>+421</string>
			<string>421</string>
			<string>00421</string>
			<string>011421</string>
		</array>
		<key>011421</key>
		<array>
			<string>+421</string>
			<string>421</string>
			<string>00421</string>
			<string>011421</string>
		</array>
		<key>011423</key>
		<array>
			<string>+423</string>
			<string>423</string>
			<string>00423</string>
			<string>011423</string>
		</array>
		<key>01143</key>
		<array>
			<string>+43</string>
			<string>43</string>
			<string>0043</string>
			<string>01143</string>
		</array>
		<key>01145</key>
		<array>
			<string>+45</string>
			<string>45</string>
			<string>0045</string>
			<string>01145</string>
		</array>
		<key>01146</key>
		<array>
			<string>+46</string>
			<string>46</string>
			<string>0046</string>
			<string>01146</string>
		</array>
		<key>01147</key>
		<array>
			<string>+47</string>
			<string>47</string>
			<string>0047</string>
			<string>01147</string>
		</array>
		<key>01148</key>
		<array>
			<string>+48</string>
			<string>48</string>
			<string>0048</string>
			<string>01148</string>
		</array>
		<key>01149</key>
		<array>
			<string>+49</string>
			<string>49</string>
			<string>0049</string>
			<string>01149</string>
		</array>
		<key>011500</key>
		<array>
			<string>+500</string>
			<string>500</string>
			<string>00500</string>
			<string>011500</string>
		</array>
		<key>011501</key>
		<array>
			<string>+501</string>
			<string>501</string>
			<string>00501</string>
			<string>011501</string>
		</array>
		<key>011502</key>
		<array>
			<string>+502</string>
			<string>502</string>
			<string>00502</string>
			<string>011502</string>
		</array>
		<key>011503</key>
		<array>
			<string>+503</string>
			<string>503</string>
			<string>00503</string>
			<string>011503</string>
		</array>
		<key>011504</key>
		<array>
			<string>+504</string>
			<string>504</string>
			<string>00504</string>
			<string>011504</string>
		</array>
		<key>011505</key>
		<array>
			<string>+505</string>
			<string>505</string>
			<string>00505</string>
			<string>011505</string>
		</array>
		<key>011506</key>
		<array>
			<string>+506</string>
			<string>506</string>
			<string>00506</string>
			<string>011506</string>
		</array>
		<key>011507</key>
		<array>
			<string>+507</string>
			<string>507</string>
			<string>00507</string>
			<string>011507</string>
		</array>
		<key>011508</key>
		<array>
			<string>+508</string>
			<string>508</string>
			<string>00508</string>
			<string>011508</string>
		</array>
		<key>011509</key>
		<array>
			<string>+509</string>
			<string>509</string>
			<string>00509</string>
			<string>011509</string>
		</array>
		<key>01151</key>
		<array>
			<string>+51</string>
			<string>51</string>
			<string>0051</string>
			<string>01151</string>
		</array>
		<key>01152</key>
		<array>
			<string>+52</string>
			<string>52</string>
			<string>0052</string>
			<string>01152</string>
		</array>
		<key>01153</key>
		<array>
			<string>+53</string>
			<string>53</string>
			<string>0053</string>
			<string>01153</string>
		</array>
		<key>01154</key>
		<array>
			<string>+54</string>
			<string>54</string>
			<string>0054</string>
			<string>01154</string>
		</array>
		<key>01155</key>
		<array>
			<string>+55</string>
			<string>55</string>
			<string>0055</string>
			<string>01155</string>
		</array>
		<key>01156</key>
		<array>
			<string>+56</string>
			<string>56</string>
			<string>0056</string>
			<string>01156</string>
		</array>
		<key>01157</key>
		<array>
			<string>+57</string>
			<string>57</string>
			<string>0057</string>
			<string>01157</string>
		</array>
		<key>01158</key>
		<array>
			<string>+58</string>
			<string>58</string>
			<string>0058</string>
			<string>01158</string>
		</array>
		<key>011590</key>
		<array>
			<string>+590</string>
			<string>590</string>
			<string>00590</string>
			<string>011590</string>
		</array>
		<key>011591</key>
		<array>
			<string>+591</string>
			<string>591</string>
			<string>00591</string>
			<string>011591</string>
		</array>
		<key>011592</key>
		<array>
			<string>+592</string>
			<string>592</string>
			<string>00592</string>
			<string>011592</string>
		</array>
		<key>011593</key>
		<array>
			<string>+593</string>
			<string>593</string>
			<string>00593</string>
			<string>011593</string>
		</array>
		<key>011594</key>
		<array>
			<string>+594</string>
			<string>594</string>
			<string>00594</string>
			<string>011594</string>
		</array>
		<key>011595</key>
		<array>
			<string>+595</string>
			<string>595</string>
			<string>00595</string>
			<string>011595</string>
		</array>
		<key>011596</key>
		<array>
			<string>+596</string>
			<string>596</string>
			<string>00596</string>
			<string>011596</string>
		</array>
		<key>011597</key>
		<array>
			<string>+597</string>
			<string>597</string>
			<string>00597</string>
			<string>011597</string>
		</array>
		<key>011598</key>
		<array>
			<string>+598</string>
			<string>598</string>
			<string>00598</string>
			<string>011598</string>
		</array>
		<key>011599</key>
		<array>
			<string>+599</string>
			<string>599</string>
			<string>00599</string>
			<string>011599</string>
		</array>
		<key>01160</key>
		<array>
			<string>+60</string>
			<string>60</string>
			<string>0060</string>
			<string>01160</string>
		</array>
		<key>01161</key>
		<array>
			<string>+61</string>
			<string>61</string>
			<string>0061</string>
			<string>01161</string>
		</array>
		<key>01162</key>
		<array>
			<string>+62</string>
			<string>62</string>
			<string>0062</string>
			<string>01162</string>
		</array>
		<key>01163</key>
		<array>
			<string>+63</string>
			<string>63</string>
			<string>0063</string>
			<string>01163</string>
		</array>
		<key>01164</key>
		<array>
			<string>+64</string>
			<string>64</string>
			<string>0064</string>
			<string>01164</string>
		</array>
		<key>01165</key>
		<array>
			<string>+65</string>
			<string>65</string>
			<string>0065</string>
			<string>01165</string>
		</array>
		<key>01166</key>
		<array>
			<string>+66</string>
			<string>66</string>
			<string>0066</string>
			<string>01166</string>
		</array>
		<key>011670</key>
		<array>
			<string>+670</string>
			<string>670</string>
			<string>00670</string>
			<string>011670</string>
		</array>
		<key>011672</key>
		<array>
			<string>+672</string>
			<string>672</string>
			<string>00672</string>
			<string>011672</string>
		</array>
		<key>011673</key>
		<array>
			<string>+673</string>
			<string>673</string>
			<string>00673</string>
			<string>011673</string>
		</array>
		<key>011674</key>
		<array>
			<string>+674</string>
			<string>674</string>
			<string>00674</string>
			<string>011674</string>
		</array>
		<key>011675</key>
		<array>
			<string>+675</string>
			<string>675</string>
			<string>00675</string>
			<string>011675</string>
		</array>
		<key>011676</key>
		<array>
			<string>+676</string>
			<string>676</string>
			<string>00676</string>
			<string>011676</string>
		</array>
		<key>011677</key>
		<array>
			<string>+677</string>
			<string>677</string>
			<string>00677</string>
			<string>011677</string>
		</array>
		<key>011678</key>
		<array>
			<string>+678</string>
			<string>678</string>
			<string>00678</string>
			<string>011678</string>
		</array>
		<key>011679</key>
		<array>
			<string>+679</string>
			<string>679</string>
			<string>00679</string>
			<string>011679</string>
		</array>
		<key>011680</key>
		<array>
			<string>+680</string>
			<string>680</string>
			<string>00680</string>
			<string>011680</string>
		</array>
		<key>011681</key>
		<array>
			<string>+681</string>
			<string>681</string>
			<string>00681</string>
			<string>011681</string>
		</array>
		<key>011682</key>
		<array>
			<string>+682</string>
			<string>682</string>
			<string>00682</string>
			<string>011682</string>
		</array>
		<key>011683</key>
		<array>
			<string>+683</string>
			<string>683</string>
			<string>00683</string>
			<string>011683</string>
		</array>
		<key>011685</key>
		<array>
			<string>+685</string>
			<string>685</string>
			<string>00685</string>
			<string>011685</string>
		</array>
		<key>011686</key>
		<array>
			<string>+686</string>
			<string>686</string>
			<string>00686</string>
			<string>011686</string>
		</array>
		<key>011687</key>
		<array>
			<string>+687</string>
			<string>687</string>
			<string>00687</string>
			<string>011687</string>
		</array>
		<key>011688</key>
		<array>
			<string>+688</string>
			<string>688</string>
			<string>00688</string>
			<string>011688</string>
		</array>
		<key>011689</key>
		<array>
			<string>+689</string>
			<string>689</string>
			<string>00689</string>
			<string>011689</string>
		</array>
		<key>011690</key>
		<array>
			<string>+690</string>
			<string>690</string>
			<string>00690</string>
			<string>011690</string>
		</array>
		<key>011691</key>
		<array>
			<string>+691</string>
			<string>691</string>
			<string>00691</string>
			<string>011691</string>
		</array>
		<key>011692</key>
		<array>
			<string>+692</string>
			<string>692</string>
			<string>00692</string>
			<string>011692</string>
		</array>
		<key>0117</key>
		<array>
			<string>+7</string>
			<string>7</string>
			<string>007</string>
			<string>0117</string>
		</array>
		<key>01181</key>
		<array>
			<string>+81</string>
			<string>81</string>
			<string>0081</string>
			<string>01181</string>
		</array>
		<key>01184</key>
		<array>
			<string>+84</string>
			<string>84</string>
			<string>0084</string>
			<string>01184</string>
		</array>
		<key>011850</key>
		<array>
			<string>+850</string>
			<string>850</string>
			<string>00850</string>
			<string>011850</string>
		</array>
		<key>011852</key>
		<array>
			<string>+852</string>
			<string>852</string>
			<string>00852</string>
			<string>011852</string>
		</array>
		<key>011853</key>
		<array>
			<string>+853</string>
			<string>853</string>
			<string>00853</string>
			<string>011853</string>
		</array>
		<key>011855</key>
		<array>
			<string>+855</string>
			<string>855</string>
			<string>00855</string>
			<string>011855</string>
		</array>
		<key>011856</key>
		<array>
			<string>+856</string>
			<string>856</string>
			<string>00856</string>
			<string>011856</string>
		</array>
		<key>01186</key>
		<array>
			<string>+86</string>
			<string>86</string>
			<string>0086</string>
			<string>01186</string>
		</array>
		<key>011880</key>
		<array>
			<string>+880</string>
			<string>880</string>
			<string>00880</string>
			<string>011880</string>
		</array>
		<key>011886</key>
		<array>
			<string>+886</string>
			<string>886</string>
			<string>00886</string>
			<string>011886</string>
		</array>
		<key>01190</key>
		<array>
			<string>+90</string>
			<string>90</string>
			<string>0090</string>
			<string>01190</string>
		</array>
		<key>01193</key>
		<array>
			<string>+93</string>
			<string>93</string>
			<string>0093</string>
			<string>01193</string>
		</array>
		<key>01194</key>
		<array>
			<string>+94</string>
			<string>94</string>
			<string>0094</string>
			<string>01194</string>
		</array>
		<key>01195</key>
		<array>
			<string>+95</string>
			<string>95</string>
			<string>0095</string>
			<string>01195</string>
		</array>
		<key>011960</key>
		<array>
			<string>+960</string>
			<string>960</string>
			<string>00960</string>
			<string>011960</string>
		</array>
		<key>011961</key>
		<array>
			<string>+961</string>
			<string>961</string>
			<string>00961</string>
			<string>011961</string>
		</array>
		<key>011962</key>
		<array>
			<string>+962</string>
			<string>962</string>
			<string>00962</string>
			<string>011962</string>
		</array>
		<key>011963</key>
		<array>
			<string>+963</string>
			<string>963</string>
			<string>00963</string>
			<string>011963</string>
		</array>
		<key>011964</key>
		<array>
			<string>+964</string>
			<string>964</string>
			<string>00964</string>
			<string>011964</string>
		</array>
		<key>011965</key>
		<array>
			<string>+965</string>
			<string>965</string>
			<string>00965</string>
			<string>011965</string>
		</array>
		<key>011966</key>
		<array>
			<string>+966</string>
			<string>966</string>
			<string>00966</string>
			<string>011966</string>
		</array>
		<key>011967</key>
		<array>
			<string>+967</string>
			<string>967</string>
			<string>00967</string>
			<string>011967</string>
		</array>
		<key>011968</key>
		<array>
			<string>+968</string>
			<string>968</string>
			<string>00968</string>
			<string>011968</string>
		</array>
		<key>011970</key>
		<array>
			<string>+970</string>
			<string>970</string>
			<string>00970</string>
			<string>011970</string>
		</array>
		<key>011971</key>
		<array>
			<string>+971</string>
			<string>971</string>
			<string>00971</string>
			<string>011971</string>
		</array>
		<key>011972</key>
		<array>
			<string>+972</string>
			<string>972</string>
			<string>00972</string>
			<string>011972</string>
		</array>
		<key>011973</key>
		<array>
			<string>+973</string>
			<string>973</string>
			<string>00973</string>
			<string>011973</string>
		</array>
		<key>011975</key>
		<array>
			<string>+975</string>
			<string>975</string>
			<string>00975</string>
			<string>011975</string>
		</array>
		<key>011976</key>
		<array>
			<string>+976</string>
			<string>976</string>
			<string>00976</string>
			<string>011976</string>
		</array>
		<key>011977</key>
		<array>
			<string>+977</string>
			<string>977</string>
			<string>00977</string>
			<string>011977</string>
		</array>
		<key>01198</key>
		<array>
			<string>+98</string>
			<string>98</string>
			<string>0098</string>
			<string>01198</string>
		</array>
		<key>011992</key>
		<array>
			<string>+992</string>
			<string>992</string>
			<string>00992</string>
			<string>011992</string>
		</array>
		<key>011993</key>
		<array>
			<string>+993</string>
			<string>993</string>
			<string>00993</string>
			<string>011993</string>
		</array>
		<key>011994</key>
		<array>
			<string>+94</string>
			<string>94</string>
			<string>0094</string>
			<string>01194</string>
		</array>
		<key>011995</key>
		<array>
			<string>+95</string>
			<string>95</string>
			<string>0095</string>
			<string>01195</string>
		</array>
		<key>011996</key>
		<array>
			<string>+996</string>
			<string>996</string>
			<string>00996</string>
			<string>011996</string>
		</array>
		<key>011998</key>
		<array>
			<string>+998</string>
			<string>998</string>
			<string>00998</string>
			<string>011998</string>
		</array>
		<key>11974</key>
		<array>
			<string>+11974</string>
			<string>11974</string>
			<string>0011974</string>
		</array>
		<key>1204</key>
		<array>
			<string>+1204</string>
			<string>1204</string>
			<string>001204</string>
		</array>
		<key>1242</key>
		<array>
			<string>+1242</string>
			<string>1242</string>
			<string>001242</string>
		</array>
		<key>1246</key>
		<array>
			<string>+1246</string>
			<string>1246</string>
			<string>001246</string>
		</array>
		<key>1264</key>
		<array>
			<string>+1264</string>
			<string>1264</string>
			<string>001264</string>
		</array>
		<key>1268</key>
		<array>
			<string>+1268</string>
			<string>1268</string>
			<string>001268</string>
		</array>
		<key>1284</key>
		<array>
			<string>+1284</string>
			<string>1284</string>
			<string>001284</string>
		</array>
		<key>1340</key>
		<array>
			<string>+1340</string>
			<string>1340</string>
			<string>001340</string>
		</array>
		<key>1345</key>
		<array>
			<string>+1345</string>
			<string>1345</string>
			<string>001345</string>
		</array>
		<key>1441</key>
		<array>
			<string>+1441</string>
			<string>1441</string>
			<string>001441</string>
		</array>
		<key>1473</key>
		<array>
			<string>+1473</string>
			<string>1473</string>
			<string>001473</string>
		</array>
		<key>1649</key>
		<array>
			<string>+1649</string>
			<string>1649</string>
			<string>001649</string>
		</array>
		<key>1664</key>
		<array>
			<string>+1664</string>
			<string>1664</string>
			<string>001664</string>
		</array>
		<key>1670</key>
		<array>
			<string>+1670</string>
			<string>1670</string>
			<string>001670</string>
		</array>
		<key>1671</key>
		<array>
			<string>+1671</string>
			<string>1671</string>
			<string>001671</string>
		</array>
		<key>1684</key>
		<array>
			<string>+1684</string>
			<string>1684</string>
			<string>001684</string>
		</array>
		<key>1758</key>
		<array>
			<string>+1758</string>
			<string>1758</string>
			<string>001758</string>
		</array>
		<key>1767</key>
		<array>
			<string>+1767</string>
			<string>1767</string>
			<string>001767</string>
		</array>
		<key>1784</key>
		<array>
			<string>+1784</string>
			<string>1784</string>
			<string>001784</string>
		</array>
		<key>1787</key>
		<array>
			<string>+1787</string>
			<string>1787</string>
			<string>001787</string>
		</array>
		<key>1808</key>
		<array>
			<string>+1808</string>
			<string>1808</string>
			<string>001808</string>
		</array>
		<key>1809</key>
		<array>
			<string>+1809</string>
			<string>1809</string>
			<string>001809</string>
		</array>
		<key>1868</key>
		<array>
			<string>+1868</string>
			<string>1868</string>
			<string>001868</string>
		</array>
		<key>1869</key>
		<array>
			<string>+1869</string>
			<string>1869</string>
			<string>001869</string>
		</array>
		<key>1876</key>
		<array>
			<string>+1876</string>
			<string>1876</string>
			<string>001876</string>
		</array>
		<key>1907</key>
		<array>
			<string>+1907</string>
			<string>1907</string>
			<string>001907</string>
		</array>
		<key>205</key>
		<array>
			<string>+205</string>
			<string>205</string>
			<string>00205</string>
		</array>
		<key>211</key>
		<array>
			<string>+211</string>
			<string>211</string>
			<string>00211</string>
		</array>
		<key>2125288</key>
		<array>
			<string>+2125288</string>
			<string>2125288</string>
			<string>002125288</string>
		</array>
		<key>259</key>
		<array>
			<string>+259</string>
			<string>259</string>
			<string>00259</string>
		</array>
		<key>37744</key>
		<array>
			<string>+37744</string>
			<string>37744</string>
			<string>0037744</string>
		</array>
		<key>379</key>
		<array>
			<string>+379</string>
			<string>379</string>
			<string>00379</string>
		</array>
		<key>575</key>
		<array>
			<string>+575</string>
			<string>575</string>
			<string>00575</string>
		</array>
		<key>5993</key>
		<array>
			<string>+5993</string>
			<string>5993</string>
			<string>005993</string>
		</array>
		<key>5994</key>
		<array>
			<string>+5994</string>
			<string>5994</string>
			<string>005994</string>
		</array>
		<key>5995</key>
		<array>
			<string>+5995</string>
			<string>5995</string>
			<string>005995</string>
		</array>
		<key>5997</key>
		<array>
			<string>+5997</string>
			<string>5997</string>
			<string>005997</string>
		</array>
		<key>5999</key>
		<array>
			<string>+5999</string>
			<string>5999</string>
			<string>005999</string>
		</array>
		<key>76</key>
		<array>
			<string>+76</string>
			<string>76</string>
			<string>0076</string>
		</array>
		<key>7840</key>
		<array>
			<string>+7840</string>
			<string>7840</string>
			<string>007840</string>
		</array>
		<key>808</key>
		<array>
			<string>+808</string>
			<string>808</string>
			<string>00808</string>
		</array>
		<key>1250</key>
		<array>
			<string>+1250</string>
			<string>1250</string>
			<string>001250</string>
		</array>
		<key>1289</key>
		<array>
			<string>+1289</string>
			<string>1289</string>
			<string>001289</string>
		</array>
		<key>1306</key>
		<array>
			<string>+1306</string>
			<string>1306</string>
			<string>001306</string>
		</array>
		<key>1403</key>
		<array>
			<string>+1403</string>
			<string>1403</string>
			<string>001403</string>
		</array>
		<key>1416</key>
		<array>
			<string>+1416</string>
			<string>1416</string>
			<string>001416</string>
		</array>
		<key>1418</key>
		<array>
			<string>+1418</string>
			<string>1418</string>
			<string>001418</string>
		</array>
		<key>1450</key>
		<array>
			<string>+1450</string>
			<string>1450</string>
			<string>001450</string>
		</array>
		<key>1506</key>
		<array>
			<string>+1506</string>
			<string>1506</string>
			<string>001560</string>
		</array>
		<key>1514</key>
		<array>
			<string>+1514</string>
			<string>1514</string>
			<string>001514</string>
		</array>
		<key>1519</key>
		<array>
			<string>+1519</string>
			<string>1519</string>
			<string>001519</string>
		</array>
		<key>1604</key>
		<array>
			<string>+1604</string>
			<string>1604</string>
			<string>001604</string>
		</array>
		<key>1613</key>
		<array>
			<string>+1613</string>
			<string>1613</string>
			<string>001613</string>
		</array>
		<key>1647</key>
		<array>
			<string>+1647</string>
			<string>1647</string>
			<string>001647</string>
		</array>
		<key>1705</key>
		<array>
			<string>+1705</string>
			<string>1705</string>
			<string>001705</string>
		</array>
		<key>1709</key>
		<array>
			<string>+1709</string>
			<string>1709</string>
			<string>001709</string>
		</array>
		<key>1778</key>
		<array>
			<string>+1778</string>
			<string>1778</string>
			<string>001778</string>
		</array>
		<key>1780</key>
		<array>
			<string>+1780</string>
			<string>1780</string>
			<string>001780</string>
		</array>
		<key>1807</key>
		<array>
			<string>+1807</string>
			<string>1807</string>
			<string>001807</string>
		</array>
		<key>1819</key>
		<array>
			<string>+1819</string>
			<string>1819</string>
			<string>001819</string>
		</array>
		<key>1867</key>
		<array>
			<string>+1867</string>
			<string>1867</string>
			<string>001867</string>
		</array>
		<key>1902</key>
		<array>
			<string>+1902</string>
			<string>1902</string>
			<string>001902</string>
		</array>
		<key>1905</key>
		<array>
			<string>+1905</string>
			<string>1905</string>
			<string>001905</string>
		</array>
	</dict>
</dict>
</plist>
